
<div class='container mt-5'>
    <div class='row'>
        <div class='col-sm-4' *ngFor='let post of posts;'>
            <div class="card mb-3" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <button type="button" (click)='edit(post.id)' class="btn btn-primary">Edit</button>
                  <button type="button" (click)='delete(post.id)' class="btn btn-danger">Delete</button>
                </div>
              </div>
        </div>

    </div>
    
</div>


